future>=0.16.0
gevent>=1.1.2
python-socketio>=1.6.1
karellen-geventws>=1.0.1 ; python_version > '3.2'
gevent-websocket ; python_version < '3'
PyCRC>=1.21
lz4>=0.8.2
pyaes>=1.6.0
requests>=2.7.0
six
websocket-client